#linkContact {
    font-weight: bold;
    font-size: large;
}


#formArticle {
    width: 100%;
}

input:required, textarea:required {
    background-color: rgba(255, 255, 0, 0.295);
  }

@media screen and (max-width: 900px) {
    article {
        width: 450px;
        font-size: 12px;
    }

    #inquiry {
        width: 300px;
    }

    #formArticle {
        width: 350px;
    }
}


  