#linkLanguages {
    font-weight: bold;
    font-size: large;
}

#table {
    align-content: center;
    padding-left: 40%;
  }

tbody tr:nth-child(even)
{
  background: orange;
}

tbody tr:nth-child(1)
{
  background: rgb(1, 213, 250);
}