body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
    background-color: #eee;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    z-index: 3;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: middle;
    text-align: center;
    
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#home .profile-img {
    width: 300px;
    border-radius: 50%;
    padding-top: 25px;
}

footer {
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

#home {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/mountains.jpg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/prog.jpg!d');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/flower.jpg');
}

article {
    background: rgb(230, 230, 230);
    border: 2px solid cyan;
    border-radius: 25px;
    width: 75%;
    vertical-align: middle;
    position: relative;
    font-size: larger;
    bottom: 20px;
    left: 12%;
}

p::first-letter {
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
}

nav {
    padding-right: 20px;
    font-size: small;
}

nav#insiteNav {
    border-left: 2px solid cyan;
}


.sidenav {
    width: 15%; 
    position: fixed; 
    z-index: 1;
    top: 25%; 
    left: 0;
    background-color: #eee;
    overflow-x: hidden; 
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
 
  .main {
    margin-left: 16%; 
    padding: 0px 10px;
  }

  ul li {
    list-style-position: inside;
    text-align: justify;
  }


  figure {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
      body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 100px;
      }

      #home {
          grid-column: 1/3;
      }

      #contact {
          grid-column: 1/3;
      }
    
      
  }
  
