body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
    background-color: #eee;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    z-index: 3;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: middle;
    text-align: center;
    
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#home .profile-img {
    width: 300px;
    border-radius: 50%;
    padding-top: 25px;
}

footer {
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

/* Add everything below here */

#home {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/mountains.jpg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/prog.jpg!d');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../images/flower.jpg');
}

article {
    background: rgb(230, 230, 230);
    border: 2px solid cyan;
    border-radius: 25px;
    width: 75%;
    vertical-align: middle;
    position: relative;
    font-size: larger;
    bottom: 20px;
    left: 12%;
}

p::first-letter {
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
}

nav {
    padding-right: 20px;
    font-size: small;
}

nav#insiteNav {
    border-left: 2px solid cyan;
}

/* The sidebar menu */
.sidenav {
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 25%; /* Stay at the top */
    left: 0;
    background-color: #eee; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 16%; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  ul li {
    list-style-position: inside;
    text-align: justify;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  figure {
      padding-top: 10px;
      padding-bottom: 10px;
  }

 


